footer {
    visibility: hidden;
}

/* Metric Container */
div.css-keje6w.esravye1 {}

/* Metric Change Indicator */
div.css-wnm74r {}

/* Main Metric */
div.css-1xarl3l {}

/* Metric Label */
div.css-q8sbsg.eqr7zpz4 p {}

svg.css-jhkj9c {}

div.css-ocqkz.esravye3 {}

div.css-1xarl3l.e1vioofd1 {}

div.css-q8sbsg.eqr7zpz4 {}

div.css-1xarl3l.e1vioofd1 {
    max-width: auto;
    /* You can adjust this value as per your requirements */
}

/* Adjust the width for the metric container */
div.element-container.css-zvqkad.esravye2 {
    max-width: auto;
    /* You can adjust this value as per your requirements */
}

div.css-1r6slb0.esravye1 {
    max-width: 150px;

}